.button-record {
  --btn-size: 60px;
  --scale-size: 1;
  --pulse-size: 0px;

  width: var(--btn-size) !important;
  height: var(--btn-size) !important;
  min-width: var(--btn-size) !important;
  min-height: var(--btn-size) !important;

  border: 2px solid transparent !important;
  outline: none;
  border-radius: 30px !important;
  background-color: #ed3535 !important;
  transition: transform 0.5s ease-in-out !important;

  transform: scale(var(--scale-size));
  box-shadow: 0px 0px 0px clamp(0px, var(--pulse-size), 50px) rgba(0, 0, 0, 0.2);
}

.button-record:hover,
.button-record:focus {
  border: 2px solid #ff5555 !important;
}

.button-record:disabled {
  opacity: 0.6;
  cursor: not-allowed;
  filter: grayscale(30%);
}