$gradient-blue: linear-gradient(135deg, #37a0c6 25%, #1b4d60 76%);

.bg-gradient-blue {
  background: $gradient-blue !important;
}

.btn.bg-gradient-blue {
  border: none !important;
  color: #ffffff !important;
}

.ff-poppins {
  font-family: 'Poppins', sans-serif !important;
}

.ff-roboto {
  font-family: 'Roboto', sans-serif !important;
}
